/* testing */

header {
  padding: 12px;
  background-color: coral;
}

.title {
  font-size: 40px;
  font-family: "Times New Roman", serif;
  font-weight: 600;
}

body {
  font-size: 13px;
  font-family: "Times New Roman", sans-serif;
  margin: 0;
}


h2 {
  font-family: "Times New Roman", serif;
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-family: "Times New Roman", serif;
  font-size: 20px;
}

